/*SLIDER DE INICIO*/

body {
    margin: 0;
    padding: 0;
}

.texto {
    position: absolute;
width: 602px;
height: 262px;
left: 423px;
top: 744px;

font-family: Arbutus Slab;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 62px;
text-align: center;
}

.carousel-item .img {
    opacity: 70%;
}

/*SLIDER DE TIENDA*/
.carousel {
    margin: 50px 0;
    position: relative;

}




.card-img-top {
    width: 237px;
height: 222px;
left: 4px;
top: 606px;


border-radius: 45px;
}

