body {
    margin: 0;
    padding: 0;
}

.slider {
    width: 1349px;
    height: 610px;
    background: url(../img/slider/1.jpg) no-repeat;
    margin: 50px auto;
    animation: slide 40s infinite;
}

@keyframes slide {
    12.5% {
        background: url(../img/slider/2.jpg) no-repeat;
        opacity: 70%;
    }
    25% {
        background: url(../img/slider/3.jpg) no-repeat;
        opacity: 70%;
    }
    37.5% {
        background: url(../img/slider/4.jpg) no-repeat;
        opacity: 70%;
    }
    50% {
        background: url(../img/slider/5.jpg) no-repeat;
        opacity: 70%;
    }
    62.5% {
        background: url(../img/slider/6.jpg) no-repeat;
        opacity: 70%;
    }
    75% {
        background: url(../img/slider/7.jpg) no-repeat;
        opacity: 70%;
    }
    87.5% {
        background: url(../img/slider/8.jpg) no-repeat;
        opacity: 70%;
    }
    100% {
        background: url(../img/slider/1.jpg) no-repeat;
        opacity: 70%;
    }
}

.texto {
    position: absolute;
    width: 602px;
    height: 262px;
    left: 419px;
    top: 300px;
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    margin: 50px auto;
    
}