body{
    margin: 0;
    padding: 0; 
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
  }

  :root {
      --color-violeta: #89057C;
      --color-rosado: #DA96CC;
      --color-header1: #fafbff65;
      --color-boton: #B47F2D;
      --font-titulo: 'Abril Fatface', cursive;
      --font-subtitulo: 'Arbutus Slab', cursive;
      --font-menu: 'Bebas Neue', cursive;
  }

 .titulo {
    font-size: 60px;
    margin: 20px auto;
    text-align: center;
    font-family:'Abril Fatface', cursive;
    color: #89057C;
    text-shadow: 1px 1px 1px #DA96CC,
    -3px 1px 1px #DA96CC;
 }

 .subtitulo {
    font-size: 35px;
    padding: -100px;
    margin: -20px auto;
    text-align: center;
    font-family: 'Arbutus Slab';
    color: #89057C;
    text-shadow: 1px 1px 1px #DA96CC,
    -3px 1px 1px #DA96CC;  
 }
    /*ICONOS*/
 .facebook, .instagram {
     color: white;
 }

 .menu-navegacion {
     width: 90%;
     max-width: 1200px;
     margin: auto;
     overflow: hidden;    
 }
    /*MENU*/

 .header1 {
     background-color: var(--color-header1);
     height: 50px;
     padding-bottom: 10px;
 }

 .enlaces {
    position: center;
    left: 0%;
    right: 0%;
    top: 0px;
 }

 .enlaces li {
     list-style: none;
     display: inline-block;
 }

 .menu-navegacion .enlaces a{
     text-decoration: none;
     color: #89057C;
     font-family: 'Bebas Neue', cursive;
     padding-left: 43px;
     font-weight: 700px;
     font-size: 22px;       
 }

 /*.menu-navegacion a {
    position: static;
    left: 200px;
    right: 40%;
    top: 25%;
    bottom: 30%;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 18px;
    text-align:center;
    text-decoration: none;
 }*/
 .botones {
     padding-left: 850px;
 }
 .boton1 { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    background: #DA96CC;
    border-radius: 5px;
 }

 .boton2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    position: absolute;
    left: 66.67%;
    right: 19.51%;
    top: 3.03%;
    bottom: 93.07%;
    background: #89057C;
    border-radius: 5px;
 }
 
 



 