body {
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
}

/*MENU*/
.header {
    background-color: var(--color-header2);
    height: 50px;
}

/*Titulo y Subtitulo*/
.nombre {
position: absolute;
width: 707px;
height: 316px;
left: calc(50% - 707px/2 - 317.5px);
top: calc(50% - 316px/2);

}
.nombre .titulo2 {
    font-size: 60px;
    margin: 20px auto;
    text-align: center;
    font-family:'Abril Fatface', cursive;
    color: #89057C;
    text-shadow: 1px 1px 1px #DA96CC,
    -3px 1px 1px #DA96CC;
}
.nombre .subtitulo2 {
    font-size: 35px;
    padding: -100px;
    margin: -20px auto;
    text-align: center;
    font-family: 'Arbutus Slab';
    color: #89057C;
    text-shadow: 1px 1px 1px #DA96CC,
    -3px 1px 1px #DA96CC;
}

/*INICIAR SESION*/
.box {
    position: absolute;
    width: 393px;
    height: 458px;
    left: 688px;
    top: 100px;
    background: rgba(137, 5, 124, 0.44);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;

}

.box img {
    position: absolute;
    width: 115px;
    height: 117px;
    left: 135px;
    top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;    
}

.login h2 {
    padding-left: 83px;
    font-family: 'Abril Fatface', cursive;
    color: var(--color-violeta);
    text-decoration: underline;
}

.boton1 {
    width: 78%;
    height: 20px;
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid #89057C;
    font-family: 'Arbutus Slab';
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.iniciar {
    width: 84%;
    height: 40px;
    background: var(--color-boton);
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 18px;
    margin-top: 15px;
    border: 2px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: var(--color-violeta);
}

.reg1 {
    color: white;
    text-decoration: none;
    font-family:'Bebas Neue', cursive;
    font-size: 20px;
    padding-left: 128px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reg2 {
    color: white;
    text-decoration: none;
    font-family:'Bebas Neue', cursive;
    font-size: 20px;
    padding-left: 115px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*REGISTRARSE*/
.signup {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 90px;
}

.signup h2 {
    padding-left: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    font-family: 'Abril Fatface', cursive;
    color: var(--color-violeta);
    text-decoration: underline;
}

/*SOBRE MI*/
.bio {
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    text-decoration-line: underline;
    text-align: center;
}

h3 {
position: absolute;
width: 849px;
height: 728px;
left: 35px;
top: 150px;
font-family: 'Arbutus Slab', cursive;
font-style: normal;
font-weight: normal;
line-height: 25px;
text-align: justify;
}

p {
    font-weight:bold;
}