<!DOCTYPE html>
<html>
    <head>
        <title>Contacto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" href="css/style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <style>@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');</style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    </head>

    <header class="header2">
        <div class="enlaces">
            <li><h2 class="gygdulzura">G&G Dulzura</h2></li>
            <li><a href="/sobremi">SOBRE MÍ</a></li>
            <li><a href="/tienda">TIENDA</a></li>
            <li><a href="/inicio">INICIO</a></li>
            <li><a href="/">CERRAR SESIÓN</a></li>
        </div>
    </header>

    <body>
        <h1 class="contacto">Te interesa algunos de mis productos? Contactame</h1>
            <div class="whatsapp-info">
            <img class="whatsapp" src="../static/img/whatsapp.png">
            <div class="texto-info1">
                <p class="texto">Enviame un Whatsapp</p>
                <p class="texto-sub">+54 362 514-4953</p>
            </div>
            </div>

            <div class="email-info">
                <img class="email" src="../static/img/email.png">
                <div class="texto-info2">
                    <p class="texto2">Enviame un e-mail</p>
                    <p class="texto-sub2">ale_g_30@hotmail.com</p>
                </div>
            </div>

            <div class="facebook-info">
                <img class="facebook" src="../static/img/facebook.png">
                <div class="texto-info3">
                    <p class="texto3">Seguime en Facebook</p>
                    <p class="texto-sub3">G&G Dulzura</p>
                </div>
            </div>

            <div class="instagram-info">
                <img class="instagram" src="../static/img/instagram.png">
                <div class="texto-info4">
                    <p class="texto4">Seguime en Instagram</p>
                    <p class="texto-sub4">@gygdulzura</p>
                </div>
            </div>
            
      
    </body>