<!DOCTYPE html>
<html>
    <head>
        <title>Contacto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" href="css/style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    </head>

    <header class="header2">
        <div class="enlaces">
            <li><h2 class="gygdulzura">G&G Dulzura</h2></li>
            <li><a href="/sobremi">SOBRE MÍ</a></li>
            <li><a href="/tienda">TIENDA</a></li>
            <li><a href="/inicio">INICIO</a></li>
            <li><a href="/">CERRAR SESIÓN</a></li>
        </div>
    </header>

    <body>
        <h1>Te interesa algunos de mis productor? Contactame</h1>
        <img class="whatsapp" src="../static/img/whatsapp.png">
        <img class="email" src="../static/img/email.png">
        <img class="ig" src="../static/img/instagram.png">
        <img class="face" src="../static/img/facebook.png">
    </body>