<!--<div clas="container">
    <ul class="slider">
        <li id="slider1">
            <img src="https://images.unsplash.com/photo-1506224477000-07aa8a76be20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80">
        </li>

        <li id="slider2">
            <img src="https://images.unsplash.com/photo-1519869325930-281384150729?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80">
        </li>

        <li id="slider3">
            <img src="https://images.unsplash.com/photo-1422255198496-21531f12a6e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=753&q=80">
        </li>
    </ul>

    <ul class="menu">
        <li>
            <a href="#slider1">1</a>
        </li>
        
        <li>
            <a href="#slider2">2</a>
        </li>

        <li>
            <a href="#slider3">3</a>
        </li>

    </ul>
</div>-->





        