<!DOCTYPE html>
<html>
    <head>
        <title>Sobre mí</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/style2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
        
    </head>

    <body>
        <header class="header2">
                <div class="enlaces">
                    <li><h2>G&G Dulzura</h2></li>
                    <li><a href="/contacto">CONTACTO</a></li>
                    <li><a href="tienda">TIENDA</a></li>
                    <li><a href="/">INICIO</a></li>
                </div>
        </header>
        <div class="contenedor">
        <h1 class="bio">Sobre Mí</h1>
        <h3>Hola! Esta sección es para que me conozcan un poco más y sepan quién está atrás de este pequeño emprendimiento que tanto amo ❤.

            Mi nombre es Gisel, pero la mayoría de mis amigos me dicen Gigi. Tengo 25 años y soy de Resistencia - Chaco.
            
            Soy estudiante de Ingeniería en Sistemas en la UTN y en mis ratos libres hago muchas cosas dulces, como ya verán ☺.
            
            <p>¿Cómo comenzó todo?</p>
            La idea de hacer cosas dulces comenzó hace varios años, para obtener un poco de plata y comprarme cosas sin tener que pedirles a mis papás. Comencé vendiendo alfajores de maicena, pero no los hacía yo, compraba las tapitas y solo les ponía el dulce de leche y el coco. Después de un tiempo, me dio curiosidad de cómo se hacian los alfajores de maicena y fue donde comencé a ver videos en youtube hasta que me animé a hacerlos, me salieron bastante bien, debo admitir. Después de practicar varias veces, me dieron ganas de venderlos, mis primeros clientes (mis amigos) quedaron chochos y me animé a hacer más y más. Pasaron los meses y comencé a querer incorporar otro tipo de alfajores y salieron los de chocolate, éxito total. Comencé a vender en la facu, cada vez más, y decidí hacerme una página de instagram para tener mayor alcance, ahí nace el nombre de G&G Dulzura. Desde ese momento hasta ahora no paré, la gente fue conociendo mis productos y me recomendaba a más personas. 
            En este momento no tengo tanto tiempo libre como antes porque también comencé a trabajar (la vida de adulta no es nada fácil) pero siempre me tomo un fin de semana para hacer por lo menos algunas docenas que me piden. Asi que ya saben, si quieren probar algo de lo que hago, avisenme con tiempo y con mucho gusto lo hago.
            Y esta es la historia resumida de como comenzó todo, ahora me conoces un poco más. Espero que te gusten mis productos y disfrutes comiendo como yo haciéndolos 😘.</h3>
        <img class="imagen" src="../static/img/yo.jpeg">
        </div>
    </main>