<!DOCTYPE html>
<html>
    <head>
        <title>Tortas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/style2.css">
        <link rel="stylesheet" href="static/css/slider.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <style>@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');</style>
        <style>@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&display=swap');</style>    
        <style>@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Bebas+Neue&display=swap');</style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
    </head>

    <body>
      <nav class="navbar navbar-expand-lg header2 header">
        <div class="container-fluid">
          <h2 class="gygdulzura">G&G Dulzura</h2>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">INICIO</a>
              <a class="nav-link" href="/sobremi">SOBRE MI</a>
              <a class="nav-link" href="/contacto">CONTACTO</a>
              <a class="nav-link" href="/">CERRAR SESIÓN</a>
            </div>
          </div>
        </div>
      </nav>

          <h2 class="prod-titulo">T I E N D A</h2>
          <div class="producto-torta  row row-cols-1 row-cols-md-3 g-4">
            <div class="col-torta  col">
              <div class="card-torta  card">
                <img src="../static/img/G&G/1torta.jpg" class="card-img-top" alt="...">
                <div class="torta  card-body">
                  <h5 class="titulo-torta  card-title">LETTER CAKE</h5>
                  <p class="precio-torta">$2.200</p>
                  <i class="producto-icono  bi bi-cart-plus-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-torta  col">
              <div class="card-torta  card">
                <img src="../static/img/G&G/2torta.jpg" class="card-img-top" alt="...">
                <div class="torta  card-body">
                  <h5 class="titulo-torta  card-title">TORTA UNICORNIO</h5>
                  <p class="precio-torta">$2.500</p>
                  <i class="producto-icono  bi bi-cart-plus-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-torta  col">
              <div class="card-torta  card">
                <img src="../static/img/G&G/3torta.jpg" class="card-img-top" alt="...">
                <div class="torta  card-body">
                  <h5 class="titulo-torta  card-title">DRIP CAKE</h5>
                  <p class="precio-torta">$3.000</p>
                  <i class="producto-icono  bi bi-cart-plus-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-torta  col">
              <div class="card-torta  card">
                <img src="../static/img/G&G/4torta.jpg" class="card-img-top" alt="...">
                <div class="torta  card-body">
                  <h5 class="titulo-torta  card-title">TORTA FRUTAL</h5>
                  <p class="precio-torta">$2.000</p>
                  <i class="producto-icono  bi bi-cart-plus-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-torta  col">
              <div class="card-torta  card">
                <img src="../static/img/G&G/5torta.jpg" class="card-img-top" alt="...">
                <div class="torta  card-body">
                  <h5 class="titulo-torta  card-title">CHEESECAKE</h5>
                  <p class="precio-torta">$2.200</p>
                  <i class="producto-icono  bi bi-cart-plus-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-torta  col">
              <div class="card-torta  card">
                <img src="../static/img/G&G/6torta.jpg" class="card-img-top" alt="...">
                <div class="torta  card-body">
                  <h5 class="titulo-torta  card-title">LEMON PIE</h5>
                  <p class="precio-torta">$1.500</p>
                  <i class="producto-icono  bi bi-cart-plus-fill"></i>
                </div>
              </div>
            </div>

          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>
